@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.site-title {
  font-family: 'Playfair Display', serif !important;
  color: #5077A6 !important;
  font-size: 24px;
  text-align: left;
}

a:hover {
  color: hotpink;
}

.app {
  max-width: 100% !important;
  overflow-x: hidden;
}

.site-text {
  font-family: 'Playfair Display', serif !important;
  font-size: 18px;
  line-height: 22px;
}

.site-footer {
  color: #FFFFFF;
  background-color: #374B63;
  float: left;
  width: 100%;
  padding: 4.4rem 0;
}

.stock-li-item {
  color:hotpink;
  padding-top: 10px;
  padding-bottom: 10px;
}

.by-stock-container {
  padding-bottom: 20px;
}

#menu-footer-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu-footer-navigation li {
display: inline-block;
}

#menu-footer-navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer-social-links ul {
  list-style-type: none;
  text-align: center;
}

.footer-social-links li a {
  display: inline-block;
  float: left;
}

.footer-social-links a {
  color: white;
}

.footer-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #828F9E;
  text-align: center;
  line-height: 15px;
}

.site-generic-text {
  font-size: 16px;
  color: #000022;
}

.site-button {
  background-image: linear-gradient(90deg, #C13584 0%, #E1306C 100%) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10) !important;
  border-radius: 4px !important;
  border-color: #FFFFFF;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

/* About page styling starts here */

.dummy-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
  margin-bottom: 20px;
}

.wallstrip {
  width: 100%;
}

.quote {
  background-color: #EFEFEF !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  background-color: lightgray;
  text-align: center;
}

.list-group-item {
  color: hotpink !important;
}

.archives-image {
  background-image: cover !important;
}

.header-links {
  margin: 5px;
}

.dummy-text a {
  color: hotpink !important;
}

.column {
  margin: 10px;
  border: 1px solid ##C6CBD1;
}

.header-row {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.06);
}

.nav {
  padding-right: 20px;
}

.navbar-nav {
  margin-left: 40px;
}

.nav-link {
  color: slategray;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.active {
  color: hotpink;
}

.about-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #3B4552;
  text-align: left;
}

.text-subheading {
  font-family: 'Playfair Display', serif !important;
  font-size: 20px;
  color: #3B4552;
}

.div-break {
  background-color: #EFEFEF;
  height: 50px;
}

.interviews-image-container {
  padding-bottom: 20px;
  width: 100%;
}

.contact-cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.card {
  margin: 2px !important;
}

.interviews-image {
  width: 90%;
}

.get-in-touch {
  background-color: #EFEFEF !important;
  padding-top: 10px;
  font-size: 16px;
  color: #8697AB;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.search-box-button {
  width: 75% !important;
}

.search-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0 solid rgba(0,0,0,0.12);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06);
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
}

.generic-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
}

.image-container {
  padding-bottom: 20px;
}

.books-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #8697AB;
  text-align: left;
}

media screen and (min-width: 0px) and (max-width: 400px) {
  .page-links {
    display: none;
  }

  .popup-menu {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
  }

  .social-customizer {
    display: inline-flex;
  }

  .popup-icon {
    color: gray;
  }

  .contact-cards {
    display: flex;
    flex-direction: column;
  }
}
