@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.site-title {
  font-family: 'Playfair Display', serif !important;
  color: #5077A6 !important;
  font-size: 24px;
  text-align: left;
}

a:hover {
  color: hotpink;
}

.link-index {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #E1306D;
  text-align: right;
}

.post-time {
  opacity: 0.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #5078A6;
  text-align: left;
}

.product-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
}

.product {
  background-color: #EFEFEF;
}

.product-col {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(229,229,229,0.50);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
}

.my-investments-card-title {
  font-family: 'Playfair Display', serif !important;
  font-size: 20px;
  color: #3B4552;
  text-align: left;
}

.my-investments {
  padding-top: 20px;
  padding-bottom: 20px;
}

.app {
  max-width: 100% !important;
  overflow-x: hidden;
}

.site-text {
  font-family: 'Playfair Display', serif !important;
  font-size: 18px;
  line-height: 22px;
}

.site-generic-text {
  font-size: 16px;
  color: #000022;
}

.site-button {
  background-image: linear-gradient(90deg, #C13584 0%, #E1306C 100%) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10) !important;
  border-radius: 4px !important;
  border-color: #FFFFFF;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

/* About page styling starts here */

.dummy-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
  margin-bottom: 20px;
}

.blog-posts {
  padding-top: 20px;
  padding-bottom: 20px;
}

.wallstrip {
  width: 100%;
}

.howard-image {
  background-image: cover !important;
}

.header-links {
  margin: 5px;
}

.dummy-text a {
  color: hotpink !important;
}

.sort-buttons {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EFEFEF;
  border: 1px solid #E6E6E6;
}

.new-sort-btn {
  opacity: 0.5;
  background-color: #FFFFFF !important;
  border: 1px solid #9DA2A8;
  margin: 20px;
}

.old-sort-btn {
  background-color: #FFFFFF !important;
  border: 1px solid #E1306D;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
  color: #E1306D;
  margin: 20px;
}

.crap-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: #EFEFEF;
}

.dummy-text {
  text-align: center;
  line-height: 100px;
}

.crap-text2 {
  background: #FFFFFF;
  border: 0 solid #C6CBD1;
  box-shadow: 0 2px 4px 0 rgba(229,229,229,0.50);
  border-radius: 1px;
  padding-bottom: 20px;
}

.browse-archives {
  background-color: #EFEFEF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sort-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  margin: 10px;
  border: 1px solid ##C6CBD1;
}

.header-row {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.06);
}

.nav {
  padding-right: 20px;
}

.navbar-nav {
  margin-left: 40px;
}

.nav-link {
  color: slategray;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.active {
  color: hotpink;
}

.about-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #3B4552;
  text-align: left;
}

.text-subheading {
  font-family: 'Playfair Display', serif !important;
  font-size: 20px;
  color: #3B4552;
}

.interviews-image-container {
  padding-bottom: 20px;
  width: 100%;
}

.contact-cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.card {
  margin: 2px !important;
}

.interviews-image {
  width: 90%;
}

.get-in-touch {
  background-color: #EFEFEF !important;
  padding-top: 10px;
  font-size: 16px;
  color: #8697AB;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.generic-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
}

.media-header {
  font-family: 'Playfair Display', serif !important;
  font-size: 20px;
  color: #3B4552;
}

.active-breadcrumb {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #002E00;
  text-align: left;
  line-height: 19px;
}

.breadcrumb-item::before {
  font-family: 'fontAwesome';
  content: "\f105";
}

.breadcrumbs {
  padding-bottom: 50px;
}

$breadcrumb-divider: quote(">");

.breadcrumb-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
}

.image-container {
  padding-bottom: 20px;
  width: 100%;
}

.books-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #8697AB;
  text-align: left;
}

.fav-posts {
  color: hotpink !important;
}

.row-of-crap {

}

/* Footer */

.site-footer {
  color: #FFFFFF;
  background-color: #374B63;
  float: left;
  width: 100%;
  padding: 4.4rem 0;
}

#menu-footer-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #CBD3DB !important;
  text-align: center;
  line-height: 18px;
}

#menu-footer-navigation li {
  display: inline-block;
}

#menu-footer-navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer-social-links ul {
  list-style-type: none;
}

.footer-social-links li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer-social-links a {
  color: white;
}

.footer-social-links {
  display: inline-block;
}

.companies-invested-in {
  padding-bottom: 20px;
}

.img-invst {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup-menu {
  display: none;
}

.footer-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #828F9E;
  text-align: center;
  line-height: 15px;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .page-links {
    display: none;
  }

  .popup-menu {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
  }

  .social-customizer {
    display: inline-flex;
  }

  .popup-icon {
    color: gray;
  }

  .product-col {
    margin-bottom: 10px;
  }

  .contact-cards {
    display: flex;
    flex-direction: column;
  }
}
