@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

.site-title {
  font-family: 'Playfair Display', serif !important;
  color: #5077A6 !important;
  font-size: 24px;
  text-align: left;
}

a:hover {
  color: hotpink;
}

.app {
  max-width: 100% !important;
  overflow-x: hidden;
}

.site-text {
  font-family: 'Playfair Display', serif !important;
  font-size: 18px;
  line-height: 22px;
}

.site-footer {
  color: #FFFFFF;
  background-color: #374B63;
  float: left;
  width: 100%;
  padding: 4.4rem 0;
}

#menu-footer-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu-footer-navigation li {
  float: left;
}

#menu-footer-navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.footer-social-links ul {
  list-style-type: none;
  text-align: center;
}

.footer-social-links li a {
  display: inline-block;
  float: left;
}

.footer-social-links a {
  color: white;
}

.footer-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #828F9E;
  text-align: center;
  line-height: 15px;
}

.site-generic-text {
  font-size: 16px;
  color: #000022;
}

.site-button {
  background-image: linear-gradient(90deg, #C13584 0%, #E1306C 100%) !important;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10) !important;
  border-radius: 4px !important;
  border-color: #FFFFFF;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

/* About page styling starts here */

.dummy-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
  margin-bottom: 20px;
}

.wallstrip {
  width: 100%;
}

.howard-image {
  background-image: cover !important;
}

.header-links {
  margin: 5px;
}

.dummy-text a {
  color: hotpink !important;
}

.column {
  margin: 10px;
  border: 1px solid ##C6CBD1;
}

.header-row {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.06);
}

.nav {
  padding-right: 20px;
}


.select-subscription {
  background-color: #EFEFEF;
  padding-bottom: 20px;
}

.feedback-text {
  font-family: 'Playfair Display', serif !important;
  font-size: 20px;
  color: #3B4552;
  text-align: left;
  line-height: 28px;
}

.faq-container {
  padding-bottom: 20px;
}

.product-img-container {

}

.product-header {
  display: block;
  width: 100%;
  height: auto;
}

.subscribe-btn-large {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
  height: 100px;
}

.row-of-posts {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.subs-voice {
  background-color: #EFEFEF;
  padding-bottom: 20px;
}

.options-box {
  padding: 10px;
  background: #FFFFFF;
  border: 0 solid #C6CBD1;
  box-shadow: 0 2px 4px 0 rgba(229,229,229,0.50);
  border-radius: 1px;
  margin: 5px;
}

.sub-icons {
  width: 27px;
  height: 24px;
  margin-right: 5px;
}

.other-alt-options-text {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EFEFEF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
}

.other-sub-options {
  padding: 10px;
  background: #FFFFFF;
  border: 0 solid #C6CBD1;
  box-shadow: 0 2px 4px 0 rgba(229,229,229,0.50);
  border-radius: 1px;
  margin: 5px;
}

.cta-other-options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cta-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #E1306D;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.other-options-box {
  background: #FFFFFF;
  border: 0px solid #C6CBD1;
  box-shadow: 4px 4px 4px 4px rgba(229,229,229,0.50);
  border-radius: 1px;
  margin: 5px;
}

.subs-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 30px;
}

.subs-subtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #F2A0CA;
  text-align: center;
  font-style: italic;
}

.subscribe-now {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EFEFEF !important;
}

.fat-subscribe-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(90deg, #C13584 0%, #E1306C 100%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: #E1306D;
  display: inline-block;
}

.options-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #96AEC9;
  text-align: left;
}

.option-1-duration {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
}

.other-sub-text {
  font-family: 'Playfair Display', serif !important;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
}

.navbar-nav {
  margin-left: 40px;
}

.nav-link {
  color: slategray;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.active {
  color: hotpink;
}

.about-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #3B4552;
  text-align: left;
}

.text-subheading {
  font-family: 'Playfair Display', serif !important;
  font-size: 20px;
  color: #3B4552;
}

.interviews-image-container {
  padding-bottom: 20px;
  width: 100%;
}

.contact-cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.card {
  margin: 2px !important;
}

.interviews-image {
  width: 90%;
}

.get-in-touch {
  background-color: #EFEFEF !important;
  padding-top: 10px;
  font-size: 16px;
  color: #8697AB;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.generic-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #3B4552;
  text-align: left;
}

.image-container {
  padding-bottom: 20px;
  width: 100%;
}

.books-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #8697AB;
  text-align: left;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .page-links {
    display: none;
  }

  .popup-menu {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
  }

  .social-customizer {
    display: inline-flex;
  }

  .popup-icon {
    color: gray;
  }

  .contact-cards {
    display: flex;
    flex-direction: column;
  }
  #desktopnav{
    display: none;
  }
}
